# Dataset
LibriSpeech/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Media files (audio/video/images de prueba)
*.mp3
*.mp4
*.wav
*.flac
*.png

# Modelos guardados
model_saved/
checkpoints/
*.result.txt
