# Dataset
LibriSpeech/
dataset/

# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# Media files (audio/video/images de prueba)
*.mp3
*.mp4
*.wav
*.flac
*.png
capturas/

# Modelos guardados
model_saved/
checkpoints/
*.result.txt
