-i https://pypi.org/simple
ffmpeg-python
numpy
librosa
matplotlib
soundfile

# Deep Learning Framework (PyTorch + CUDA)
torch
torchaudio
tensorboard

# ASR / Text Processing
jiwer

# Translation
argostranslate==1.9.6
ctranslate2==4.4.0
tqdm==4.66.1

# Phonetic transcription
eng-to-ipa

# Audio Source Separation
demucs
